Question 1. Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [2]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a +2
b()
b()
b()
a

6

What is happening in the above is we are adding 2 each time = 2 x 3 "b's" = 6.

Question 2. Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: 

>>> fileLength('midterm.py') 284 
>>> fileLength('idterm.py') 
Traceback (most recent call last): 
    File "<pyshell#34>", line 1, in <module> 
        fileLength('idterm.py') 
    File "/Users/me/midterm.py", line 3, in fileLength 
        infile = open(filename) 
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: >>> fileLength('midterm.py') 358 >>> fileLength('idterm.py') File idterm.py not found.

In [6]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} was not found.  Please try again.")
fileLength('midterm.py')
fileLength('idterm.py')

File midterm.py was not found.  Please try again.
File idterm.py was not found.  Please try again.

Question 3. Write a class named Marsupial that can be used as shown below: >>> m = Marsupial() >>> m.put_in_pouch('doll') >>> m.put_in_pouch('firetruck') >>> m.put_in_pouch('kitten') >>> m.pouch_contents() ['doll', 'firetruck', 'kitten'] Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below.

In [2]:
class Marsupial:
    
    def __init__(self):
        self.contents=[]
    def put_in_pouch(self,a):
        self.contents.append(a)
    def pouch_contents(self):
        print(self.contents)
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [6]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        super().__init__()
        self.xcord= x
        self.ycord= y
    def jump(self,dx,dy):
        self.xcord+=dx
        self.ycord+=dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates" + "("+str(self.xcord)+ ","+str(self.ycord) +")"
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐3洧논+1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [5]:
def collatz(x):
    print(x)
    if x!=1:
        if x%2==0:
            x = x//2
            x= int(x)
            collatz(x)
        else:
            x= (3*x) +1
            x= int(x)
            collatz(x)
    else:
        return

In [6]:
collatz(1)

1

In [7]:
collatz(10)

10
5
16
8
4
2
1

Question 5 Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [8]:
def binary(n):
    if n == 0:
        return'0'
    else:
        b = ''
        while n > 0:
            b = str((n % 2)) + b
            n //= 2
        return b
    
print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [54]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.value=False
        self.space= False
        
        
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.value=True
        elif tag=="h2":
            self.value=True
            self.space=True
    def handle_data(self, data):
        if self.value== True:
            if self.space==True:
                print(" "+data.strip("\n"))
            else:
                print(data.strip("\n"))
                    
infile = open(r"C:\Users\robgo\Downloads\wC3.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission

 Principles

Question 7 Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

I could not wrap my head around this one and will look at it over the break.

Question 8. Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [23]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute("CREATE TABLE Data(City text,Country text,Season text,Temperature  float ,Rainfall float)")

In [24]:
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [25]:
cur.execute("Select * from Data")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [26]:
cur.execute("Select Temperature from Data ")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [27]:
cur.execute("Select Distinct City from Data ")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [28]:
cur.execute("Select * from Data where Country= 'India' ")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [29]:
cur.execute("Select * from Data where Season= 'Fall' ")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [30]:
cur.execute("Select City,Country,Season from Data where Rainfall between 200 and 400 ")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [31]:
cur.execute("Select City,Country from Data where Temperature >20 and Season= 'Fall' order By Temperature  ")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [32]:
cur.execute("Select SUM(Rainfall) from Data where City = 'Cairo'  ")
cur.fetchall()

[(27.6,)]

In [33]:
cur.execute("Select Season,Sum(Rainfall) from Data group by Season ")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [34]:
#a)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([x.upper() for x in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [35]:
#b)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print ([x.lower() for x in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [36]:
#c)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([len(x) for x in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [37]:
#d)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([[x.upper(), x.lower(), len(x)] for x in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [38]:
#e)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([x for x in words if len(x)>=4])

['quick', 'brown', 'jumps', 'over', 'lazy']